.single-question {
    background: #FBFBFB!important;
    border: 1px solid #d5d5d5!important;
    padding: 20px;
    margin: 10px 0px 10px 0px!important;
    border-radius: 8px!important;
    color: #656565!important;
}
.single-question:hover {
    background-color: #F5F5F5!important;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.message{
    position: fixed;
    z-index: 99;
    right: 100px;
    top: 100px;
}